<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/product/layout :: head"></head>
<body>
<div align="text">
    <h1>Giỏ hàng</h1>
    <table border="1" width="800px">
        <tr>

            <th>Sản phẩm</th>
            <th>Hình ảnh</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Mô tả</th>
            <th>Tác giả</th>
            <th>Sửa số lượng</th>
            <th>Xóa</th>
            <th>Tổng tiền</th>

        </tr>
        <tr th:each="item,iterStat : ${session.cart}">


            <td th:text="${item.product.name}"></td>
            <td align="center"><img width="150px" height="150px" th:src="@{'/image/' + ${item.product.img}}"></td>
            <td th:text="${item.product.price}"></td>
            <td th:text="${item.quantity}"></td>
<!--          <td ><input th:type="number" th:value="${item.quantity}"/></td>-->
            <td th:text="${item.product.description}"></td>
            <td th:text="${item.product.author.name}"></td>
            <td><a th:href="@{/shoppingcart/edit-quantity/__${item.product.id}__}">Sửa</a></td>
            <td>
                <a th:href="@{/shoppingcart/delete/__${item.product.id}__}">Xóa</a>
            </td>
            <td th:text="${item.product.price}* ${item.quantity}"></td>
        </tr>

    </table>

    <h3><a th:href="@{/shoppingcart/deleteAll}">Xóa tất cả</a></h3>
    <h2><a th:href="@{/products_customer}">Tiếp tục mua hàng</a></h2>
</div>
<footer th:replace="/product/layout :: footer"></footer>
</body>
</html>