<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/product/layout :: head"></head>
<body>

<h1>Xóa sản phẩm</h1>
<p><a href="/products_customer">Trở lại danh sách sản phẩm</a> </p>
<p>Bạn có chắc chắn muốn xóa sản phẩm?</p>

<form th:action="@{/shoppingcart/delete/__${item.product.id}__}" th:object="${item}" method="post">

    Sản phẩm: <span th:text="${item.product.name}"></span>
    <br>
    <img width="150px" height="150px" th:src="@{'/image/' + ${item.product.img}}">
    <br>
    Mô tả: <span th:text="${item.product.description}"></span>
    <br>
    Giá: <span th:text="${item.product.price}"></span>
    <br>
    Số lượng: <span th:value="${item.quantity}" name="quantity"></span>
    <br>
    <input type="submit" value="Xóa">
</form>

<footer th:replace="/product/layout :: footer"></footer>
</body>
</html>



