<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/product/layout :: head"></head>
<body>
<h3>Product</h3>

<form>
    Search by name book:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>

<table id="products">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Img</th>
        <th>Description</th>
        <th>Author</th>
    </tr>


    <th:block th:each="product:${products}">
        <tr>
            <td><a th:href="@{/view-product-customer/__${product.id}__ }"><p th:text="${product.name}"></p></a></td>
            <td th:text="${product.price}"></td>
            <td><img width="150px" height="150px" th:src="@{'/image/' + ${product.img}}"/></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.author.name}"></td>

        </tr>
    </th:block>


</table>
<div>
    <a th:href="@{'/products_customer'(page=${products.number - 1})}" th:if="${products.hasPrevious()}">Previous</a>
    <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
    <a th:href="@{'/products_customer'(page=${products.number + 1})}" th:if="${products.hasNext()}">Next</a>
</div>

</body>
</html>