<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/product/layout :: head"></head>
<body>
<h3>Tất cả sản phẩm</h3>
<div sec:authorize="isAuthenticated()">
    <a th:href="@{/}">Trang chủ</a> | <a th:href="@{/logout}">Đăng xuất</a>
</div>

<form>
    <input name="s" type="text" placeholder="Nhập tên sách bạn muốn tìm kiếm :"/>
    <input type="submit" value="Tìm kiếm"/>
</form><br/>

<table id="products">
    <tr>
        <th>Sản phẩm</th>
        <th>Giá</th>
        <th>Hình ảnh</th>
        <th>Mô tả</th>
        <th>Tác giả</th>
    </tr>


    <th:block th:each="product:${products}">
        <tr>
            <td><a th:href="@{/view-product-customer/__${product.id}__ }"><p th:text="${product.name}"></p></a></td>
            <td th:text="${product.price}"></td>
            <td><img width="150px" height="150px" th:src="@{'/image/' + ${product.img}}"/></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.author.name}"></td>

        </tr>
    </th:block>


</table>
<div>
    <a th:href="@{'/products_customer'(page=${products.number - 1})}" th:if="${products.hasPrevious()}">Trang trước</a>
    <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
    <a th:href="@{'/products_customer'(page=${products.number + 1})}" th:if="${products.hasNext()}">Trang sau</a>
</div>
<footer th:replace="/product/layout :: footer"></footer>
</body>
</html>